<IfModule mod_rewrite.c>
RewriteEngine on


RewriteRule ^home$ master.php?module=home [L]
RewriteRule ^add-new-post\.html$ master.php?module=add-new-post [L]
RewriteRule ^topic\.html$ master.php?module=topic [L]
RewriteRule ^detail-(.*)-(.*)\.html$ master.php?module=detail-post&id=$1 [L]
RewriteRule ^cat-detail-(.*)-(.*)-(.*)-(.*)\.html$ master.php?module=cat_detail&id=$1&cat=$2&page=$3&nm=$4 [L]
RewriteRule ^all-categories\.html$ master.php?module=all-categories [L]
RewriteRule ^all-posts\.html$ master.php?module=all-posts [L]
RewriteRule ^sign-up\.html$ master.php?module=sign_up [L]
RewriteRule ^sign-in\.html$ master.php?module=sign_in [L]
RewriteRule ^profile\.html$ master.php?module=profile [L]
RewriteRule ^edit_profile\.html$ master.php?module=edit_profile [L]
RewriteRule ^send-message-(.*)-(.*)\.html$ master.php?module=send_message&id=$1&title=$2 [L]
RewriteRule ^messages-([0-9]+)-(.*)\.html$ master.php?module=messages&div=$1&page=$2 [L]
RewriteRule ^success\.html$ master.php?module=success [L]
RewriteRule ^sign-out\.html$ master.php?module=sign_out [L]
RewriteRule ^profile-(.*)-(.*)\.html$ master.php?module=profile_member&id=$1&title=$2 [L]
RewriteRule ^read-messages-([0-9])-(.*)\.html$ master.php?module=read-messages&div=$1&id=$2 [L]

#ADMIN ROUTE
RewriteRule ^admin$ modul/mod_admin/index.php [L]
RewriteRule ^adminlogin$ modul/mod_admin/login.php [L]
RewriteRule ^logout$ modul/mod_admin/logout.php [L]
RewriteRule ^login_proses$ modul/mod_admin/login_proses.php [L]

#ADMIN KATEGORI
RewriteRule ^kategori$ modul/mod_admin_kategori/kategori.php?mode=list [L]
RewriteRule ^kategori/editKategori/(.*)$ modul/mod_admin_kategori/kategori.php?mode=edit&id=$1 [L]
RewriteRule ^kategori/tambahkategori$ modul/mod_admin_kategori/kategori.php?mode=add [L]

#ADMIN TOPIK
RewriteRule ^topik$ modul/mod_admin_topik/topik.php?mode=list [L]
RewriteRule ^topik/editTopik/(.*)$ modul/mod_admin_topik/topik.php?mode=edit&id=$1 [L]
RewriteRule ^topik/tambahtopik$ modul/mod_admin_topik/topik.php?mode=add [L]

#ADMIN PENGGUNA
RewriteRule ^pengguna$ modul/mod_admin_pengguna/pengguna.php?mode=list [L]
RewriteRule ^pengguna/editPengguna/(.*)$ modul/mod_admin_pengguna/pengguna.php?mode=edit&id=$1 [L]
RewriteRule ^pengguna/tambahPengguna$ modul/mod_admin_pengguna/pengguna.php?mode=add [L]

#ADMIN MEMBER
RewriteRule ^member$ modul/mod_admin_member/member.php?mode=list [L]
RewriteRule ^member/editMember/(.*)$ modul/mod_admin_member/member.php?mode=edit&id=$1 [L]
RewriteRule ^member/tambahMember$ modul/mod_admin_member/member.php?mode=add [L]

Options All -Indexes
</IfModule>
